{% extends "base.html" %}

{% block title %}
    New Post
{% endblock %}

{% block content %}
    <style>
        .title-toolbar{
            display: none;
        }
        .editor-class {
            min-height: 500px;
            border: none;
        }
        .submit-button{
            font-family: Georgia,serif;
            float: right;
            border-color: #ccc;
            border-radius: 36px;
            padding: 10px 30px;
            -webkit-border-radius: 36px;
        }
    </style>
    <section>
        <!-- <h2 style="clear:both">Add a new Post</h2> -->
        <span id='blog-form' />
    </section>

    <script src="../static/dist/add.js"></script>

{% endblock %}

{%block sidebar%}
{%endblock%}
