<ul class="blogposts">
    {% for blogpost in blogposts %}
        <li>
            <a class="header" href="/posts/{{ blogpost.id }}">
                <h3 class="blogtitle">
                    {{ blogpost.title|truncate(32, killwords=True) }}
                </h3>
            </a>
            <div class="blogbody">
                    {{ fn_html2text(blogpost.body) | truncate(300, killwords=True) }}
            </div>     

            <div class="info">
                Add {{ moment(blogpost.date).fromNow() }}.
            </div>
        </li>
    {% endfor %}
</ul>